[submodule "mods/serverlist_score"]
	path = mods/serverlist_score
	url = https://github.com/Lejo1/serverlist_score
[submodule "mods/getip"]
	path = mods/getip
	url = https://github.com/Lejo1/getip
[submodule "mods/vps_blocker"]
	path = mods/vps_blocker
	url = https://github.com/Lejo1/vps_blocker
[submodule "mods/playtime"]
	path = mods/playtime
	url = https://github.com/Lejo1/playtime
[submodule "mods/reportlist"]
	path = mods/reportlist
	url = https://github.com/Lejo1/reportlist
[submodule "mods/worldedit"]
	path = mods/worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "mods/item_drop"]
	path = mods/item_drop
	url = https://github.com/minetest-mods/item_drop
[submodule "mods/maptools"]
	path = mods/maptools
	url = https://github.com/minetest-mods/maptools
[submodule "mods/signs_lib"]
	path = mods/signs_lib
	url = https://gitlab.com/VanessaE/signs_lib
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "mods/hardenedclay"]
	path = mods/hardenedclay
	url = https://github.com/oOChainLynxOo/hardenedclay
[submodule "mods/controls"]
	path = mods/controls
	url = https://github.com/mt-mods/controls
[submodule "mods/biome_lib"]
	path = mods/biome_lib
	url = https://gitlab.com/VanessaE/biome_lib
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = https://gitlab.com/VanessaE/unifieddyes
[submodule "mods/xdecor"]
	path = mods/xdecor
	url = https://github.com/minetest-mods/xdecor
[submodule "mods/random_messages"]
	path = mods/random_messages
	url = https://github.com/arsdragonfly/random_messages
